/*
    przepraszam was wszystkich, że musicie to czytać, ale tak jakoś wyszło, że strona jest tragiczna (taki był zamiar).
    Przez te 7 h, które siedziałem i robiłem tę stronę, dostałem depresji, bólu pięt i zacząłem wątpić w rzeczywistość.
 */
@media (min-width: 769px ) /* wiem ze to dziwna wartosc ale nie byłem trzeżwy k? */
{
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
    background: radial-gradient(
     circle at 100% 30%,
     #000000,
     #2d2d2d 40%,
     #1a1a1a 75%,
     #2d2d2d 80%,
     #333333 85%,
     #8c8c8c 100%
    );

    animation: backgroundcolorchange 1.5s infinite;
    min-height: 100vh;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 1000;
  }

  nav a {
    background: #000000;
    width: 6rem;
    height: 2rem;
    padding: 10px;
    margin: 5px 0;
    border: 1px outset #333333;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav a:hover {
    border: 1px inset #333333;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 768px)  /* jebnełem linear-gradient i stwierdziłem dobra moze byc nikt nie zauwazy*/
{
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #1a1a1a, #2c2c2c, #3d3d3d) !important;
  }
  .skills-row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  nav {
    display: none;
  }
}

* {
  margin: 0;
}

p {
  display: block;
  text-align: center;
  max-width: 600px;
  font-size: 1.25rem;
  margin: 20px auto;
  line-height: 1.6;
  padding: 0 15px;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  animation: h1colorChange 1.5s infinite alternate;
}

h2 {
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

.page-sections {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 2rem;
}

.skills-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.skills-row {
  width: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skills-row a {
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 1rem;
  text-align: center;
}

.skills-row img {
  transition:
   transform 0.5s,
   filter 0.5s;
}

.skills-row img:hover {
  transform: scale(1.2);
}

section {
  :is(h2) {
    display: inline;
    font-size: 2rem;
    padding: 1px 1px;
    color: #cccccc;
    transition: color 0.3s ease;
  }
  :is(h2:hover) {
    padding: 1px;
    animation: colorChange 2s infinite alternate;
  }
}

section {
  color: #ebebeb;
  padding: 2rem 1rem;
  margin: 1rem 0;
  text-align: center;
}

section p {
  text-align: center;
  align-items: center;
}

section p svg {
  margin-right: 8px;
}

@keyframes colorChange {
  0% {
    color: #cccccc;
  }
  50% {
    color: #888888;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes h1colorChange {
  0% {
    color: #ffffff;
  }
  50% {
    color: #cccccc;
  }
  100% {
    color: #888888;
  }
}
/* nie nawidze robic animacji bo nie potrafie :( */
@keyframes backgroundcolorchange {
  0%, 100% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #0a0a0a 77%,
     #323232 78%,
     #3c3c3c 100%
    );
  }
  10% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #0c0c0c 77%,
     #353535 78%,
     #3f3f3f 100%
    );
  }
  20% {
    background: radial-gradient(
    circle at 100%,
    #0a0a0a,
    #0f0f0f 60%,
    #0e0e0e 77%,
    #383838 78%,
    #424242 100%
    );
  }
  30% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #101010 77%,
     #3b3b3b 78%,
     #454545 100%
    );
  }
  40% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #121212 77%,
     #3e3e3e 78%,
     #484848 100%
    );
  }
  50% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #141414 77%,
     #414141 78%,
     #4b4b4b 100%
    );
  }
  60% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #141414 77%,
     #3e3e3e 78%,
     #4b4b4b 100%
    );
  }
  70% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #121212 77%,
     #3b3b3b 78%,
     #484848 100%
    );
  }
  80% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #101010 77%,
     #383838 78%,
     #454545 100%
    );
  }
  90% {
    background: radial-gradient(
     circle at 100%,
     #0a0a0a,
     #0f0f0f 60%,
     #0e0e0e 77%,
     #353535 78%,
     #3f3f3f 100%
    );
  }
}


a {
  text-decoration: none;
  color: #ffffff;
}
