* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: radial-gradient(circle at 100%, #090112, #1d0140 40%, #090112 80%, #170c40 80%,#9f9fa1 100%);
    animation: backgroundcolorchange 0.75s infinite;
    min-height: 100vh;
}

.Section {
    color: #ebebeb;
}

p {
    display: block;
    font-size: 125%;
}

h1 {
    font-size: 500%;
    color: #8c47fc;
    animation: h1colorChange 0.75s infinite;
}

section {
    :is(h2) {
        display: inline;
        font-size: 2rem;
        padding: 1px 1px;
        color: #7007f7;
        transition: color 0.3s ease;
    }
    :is(h2:hover) {
        padding: 1px;
        animation: colorChange 1s infinite;
    }
}


nav {
    display: inline-block;
    margin: 15px 0;
    text-align: center;
}

nav {
    :is(a) {
        position: relative;
        margin: 0 10px;
        border-style: outset;
        border-top: hidden;
        border-radius: 5px;
        border-color: #64016b;
        text-transform: uppercase;
        text-decoration: none;
        color: #ee03ff;
        cursor: pointer;
    }
    :is(a:hover) {
        position: relative;
        margin: 0 10px;
        border-style: inset;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ee03ff;
        cursor: pointer;
    }
}

section {
    padding: 2rem 1rem;
    margin: 1rem 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.skills-table {
    align-items: center;
    margin: 0 auto;
    width: 20%;
}

.skills-table td {
    width: 10%;
    padding: 1rem;
    text-align: center;
}

.skills-table img {
    transition: transform 0.5s, filter 0.5s;
}

.skills-table img:hover {
    transform: scale(1.2);
}
.Section p {
    text-align: center;
    align-items: center;
}

.Section p svg {
    margin-right: 8px;
}


@keyframes colorChange {
    0% {
        color: #7007f7;
    }
    50% {
        color: #50208c;
    }
    100% {
        color: #7b14db;
    }
}
@keyframes h1colorChange {
    0% {
        color: #8c47fc;
    }
    10% {
        color: #8242eb;
    }
    20% {
        color: #7a3ddb;
    }
    30% {
        color: #7139cc;
    }
    40% {
        color: #6734ba;
    }
    50% {
        color: #5f30ab;
    }
    60% {
        color: #542999;
    }
    70% {
        color:#542999;
    }
    80% {
        color: #5f30ab;
    }
    90% {
        color: #7139cc;
    }
    100% {
        color: #7b14db;
    }
}
@keyframes backgroundcolorchange {

    0% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, #090112 80%, #170c40 80%,#9f9fa1 100%);
    }
    10% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(11, 1, 20) 80%, rgb(25, 14, 66) 80%,rgb(159, 159, 159) 100%);
    }
    20% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(12, 1, 21) 80%, rgb(26, 14, 67) 80%,rgb(163, 163, 163) 100%);
    }
    30% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(13, 1, 22) 80%, rgb(27, 14, 68) 80%,rgb(168, 168, 168) 100%);
    }
    40% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(14, 1, 23) 80%, rgb(28, 14, 69) 80%,rgb(173, 173, 173) 100%);
    }
    50% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(15, 1, 24) 80%, rgb(29, 14, 70) 80%,rgb(176, 176, 176) 100%);
    }
    60% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(15, 1, 24) 80%, rgb(29, 14, 70) 80%,rgb(176, 176, 176) 100%);
    }
    70% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(14, 1, 23) 80%, rgb(28, 14, 69) 80%,rgb(173, 173, 173) 100%);
    }
    80% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(13, 1, 22) 80%, rgb(27, 14, 68) 80%,rgb(168, 168, 168) 100%);
    }
    90% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(12, 1, 21)  80%, rgb(26, 14, 67) 80%,rgb(163, 163, 163) 100%);
    }
    100% {
        background: radial-gradient(circle at 100%, #090112, #1d0140 40%, rgb(11, 1, 20) 80%, rgb(25, 14, 66) 80%,rgb(159, 159, 159) 100%);
    }
}